<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tarasantoshchuk.vimeoapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity" >
            <intent-filter>
                <data android:scheme="antoshchuk" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".entity.user.UserListActivity"/>
        <activity android:name=".entity.user.UserActivity"/>

        <activity android:name=".entity.video.VideoActivity"/>
        <activity android:name=".entity.video.VideoListActivity"/>

        <activity android:name=".entity.group.GroupListActivity"/>
        <activity android:name=".entity.group.GroupActivity"/>

        <service android:name=".service.HttpRequestService"/>
    </application>

</manifest>
